.danmu-overlay {
    position: absolute;
    width:300%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .danmu-overlay-line {
    position: relative;
    height: 8%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  /* .danmu-overlay-mid{
    position: relative;
    height: 40%;
    width:50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: 0 auto;
    text-align: center;

  } */
  .danmu {
    position: absolute;
    /* height: 30px; */
    top: 0;
    left: -100px;
    right: 0;
    bottom: 0;
    font-size: 24px;
    z-index: 10;
  }



 /* .video-player__overlay {background-color: coral !important;} */